@import url("normalize.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab|Slabo+27px');
html {
  font-size: 0.625em;
}

body, body * {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

.wrapper {
  margin: auto;
  width: 90vw;
}

.site-header {
  padding-top: 5%;
  height: 100vh;
}

.main-title {
  font-size: 3rem;
  font-family: 'Open Sans', 'Slabo 27px', serif, sans-serif;
}

.site-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-navigation li {
  display: inline-block;
  border: 1px solid;
  padding: 0.5em;
  margin: 0 5%;
  box-shadow: 5px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto Slab', serif;
}